li{list-style:none;}
.container{background-color:black;}
.container h1{
	color:green;
	text-align:center;
	line-height:700px;
}
.box{
	background-color:black;
	height:700px;
}
.box img{
	float:left;
	width:35%;
	margin-left:5%;
}
.para{
	color:white;
	float:right;
	width:40%;
	text-align:center;
	margin-top:10%;
	margin-right:5%;
	padding:20px;
	box-shadow:2px 2px 0px 2px #999, -2px -2px 0px 2px #999;
}