*{margin:0; padding:0;}
a{text-decoration:none;
color:white;}
a:hover{color:green;}
.movie{
	background-color:black;
	color:white;
	float:left;
	width:40%;
	height:600px;
	margin:50px;
	box-shadow:3px 3px 2px #999;
	border-radius:10px;
	text-align:center;
}
.poster{
	margin-top:50px;
	border-radius:5px;
}
.title_long{
	text-decoration:none;
	margin-top:10px;
}
.genre{
	list-style:none;
	margin-top:10px;
}